i.c5e-help-icon {
    font-size: 16px;
    padding-left: 4px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: default;
    color: rgba(0,0,0,.54);
}
.material-icons {
    font-family: "Material Icons Extended";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    text-decoration: none;
    -webkit-user-select: none;
}